*{
    padding: 00;
    margin: 00;
}

body{
    background-color: rgb(74, 17, 113);
    
}
#body_space{
    margin: 7px 7px 0px 7px;
    height: 100%;
    background-color:white;
    border-left-color: rgb(166, 0, 255);
    border-right-color: rgb(166, 0, 255);
    border-style: solid;
    border-width: 0.1px;
}
/* Footer css start here */
footer{
    background-color: black;
    color: white;
}


.footer_info{
border-right: 1px solid black;
padding: 20px;
background-color: rgba(169, 168, 168, 0.338);
border-radius: 2px;

}
#main_footer_info{
    display: flex;
    justify-content: space-around;
    color: white;
    box-shadow: 1px 1px 20px grey;
    padding: 100px 7px 110px 7px;
    background-color: rgb(3, 3, 27);

} 
.footer_info{
    background-color: rgba(75, 11, 103, 0.932);
    border-radius: 10%;
    padding: 35px 30px 50px 30px;
}
.footer_li{
    margin-left: 12px;
    margin-bottom: 2.5px;
}
#a_li{
    color: white;
    text-decoration: none;
}

.footer_li:hover{
    scale: 1.2;
    text-decoration: underline cyan 1px;
    font-style: normal;
    color: cyan;
    font-weight: 55px;
    list-style-type: none;
}

.footer_hr{
    position:relative;
    bottom: 12px;
    color: red;
  
}

.footer_info_heading{
padding-bottom: 20px;
margin-left: -17px;
color: red;
text-shadow: 1px 1px black;
font-weight: bolder;
/* text-decoration: underline dashed rgb(222, 219, 219) 0.5px; */
}

/* Footer css End here */                                                                            /* Header Logo start here */                    
header{
     position: fixed;
     width: 100%;
     margin-top: -10px;
     z-index: 10;
     
}
#main_header{
    display: flex;
    background-color: rgb(74, 17, 113);
    border: 0.10px solid rgb(166, 0, 255);
}

#logo_img{
    width: 45px;
    border-radius: 50%;
    margin-right: 3px;
    padding: 5px;
}

#logoname{
    color: white;
    margin-top: 10px;

}

#search{
    height: 30px;
    width: 50%;
    margin-left: 30%;
    margin-top: 11px;
    padding-left: 10px;
    padding-right: 40px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.354);
    border-color: rgb(109, 8, 109);
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#search_icon{
    width: 36px;
    height: 30px;
    font-size: 17px;
    border: 0px solid white;
    background-color: rgba(255, 255, 255, 0.354);
    border-radius: 50%;
    margin-top: 11px;
    margin-left: -35px;
}

/* Header Logo End here */


/* Header Bar start here */

#bar{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    background-color: black;
    border: 0.10px solid rgb(166, 0, 255);
    border-top-width: 00px;
}
.bar_a{
    color: white;
    padding: 3px 20px 3px 20px;
    border-radius: 9px;
}
.bar_a:hover{
    margin: 0;
   background: linear-gradient(165deg,rgb(0, 0, 87) 0%, rgb(74, 0, 74) 50%, rgb(57, 0, 95) 80%);
    box-shadow: 1px 1px 10px rgb(251, 0, 255);
    color: white;
    border: 1px solid purple;
    border-bottom-color: cyan;
    text-decoration: none;
    padding: 3px 40px 3px 40px;
    text-decoration: underline  green 0.1px;
    transition: 0.2s;
}
/* Header Bar End here */

/* Body content start here */

#background_body_content{
    width: 100%;
    margin-top: 76.5px;
}

#img_contener{
       display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid black;
     justify-content: space-evenly; 
     flex-wrap: wrap;
    align-items: center; 
 align-content: center; 
 background-color: rgba(186, 184, 184, 0.454);
 z-index: 1;
    
}


#animes_heading{
    font-family: time new roman;
    text-align: center;
    border: 0.7px dashed rgb(74, 17, 113);
    display: inline-block;
    margin: 10px;
}

#sticky{
    width: 100%;
    height: 1000px;
    background-color: red;
    color: white;
    font-family: 'Times New Roman';
    position: sticky;
    z-index: 5;
    top: 120px;
}




/* Quick link css start Here */

#link_contener{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: fit-content;
    max-height: fit-content;
    border: 1px solid black;
    flex-wrap: wrap;
}
.div_box{
    width: 300px;
    height: 200px;
    border: 3px solid purple;
    margin: 7px;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(217, 216, 216, 0.696);
    border-radius: 7px;
    box-shadow: 1px 1px 10px blue;
}

.go{
    margin-top: 30px;
    border: 0.3px solid rgb(0, 208, 255);
    padding: 3px 40px 3px 40px;
    border-radius: 12px;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-bottom-width: 5px;
    border-bottom-color: purple;

}
.go:hover{
    background-color: purple;
    box-shadow: 1px 1px 10px rgb(251, 0, 255);
    color: white;
    border: 0.4px solid rgb(255, 0, 255);
    scale: 1.1;
    transition: 0.7s;
    text-decoration: none;
}
.quick_info{
  
    position: relative;
    bottom: 7px;
}

/* Quick link css End here */
